<!doctype html>
<html  ng-app="index">
<head>
<meta charset="utf-8">

<title>建议购物车</title>
<script src="js/angular.js"></script>
<script>
var app = angular.module("index",[]);
app.controller("shopingCtrl",function($scope){
	 $scope.arr = [
	 	{name:"西红柿",price:1.5,count:0},
	 	{name:"黄瓜",price:2.5,count:0},
	 	{name:"马铃薯",price:1,count:0},
	 	{name:"玉米",price:3.5,count:0}	 
	 ];
	 
	 $scope.sum = function(){
		var ret = 0;	 
		 
		angular.forEach($scope.arr,function(item){
			ret += item.price*item.count;
		});
		 
		return ret;
	 };
 });

</script>
</head>

<body ng-controller="shopingCtrl"> 
	
    <dl ng-repeat="item in arr">
    	<dt>{{item.name}}</dt>
        <dd>￥{{item.price}}</dd>
        <dd><input type="number" ng-model="item.count" /></dd>
        <dd>总价{{item.price*item.count}}</dd>
    </dl>
    
    <div>总价为￥{{sum()}}</div>
  
</body>
</html>
