input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  opacity: 0;
}
.input_style {
  background: url(../image/green.png) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.radio_bg {
  background-position: -118px 0;
}
.checkbox_bg {
  background-position: 0 0;
}
.radio_bg_check {
  background-position: -166px 0;
}
.checkbox_bg_check {
  background-position: -48px 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.wrap h1 {
  color: #d265b4a3;
  font-size: 40px;
}
a {
  text-decoration: none;
}

#typed-strings p {
  line-height: 2em;
  margin: 0 0 20px;
  text-align: center;
}

.wrap {
  width:85vw;
  margin-top: 10rem;
}

.type-wrap {
  margin: 10px auto;
  padding: 0 25px;
  font-size: 32px;
  height: 650px;
}
/* 
#typed-strings {
  font-size: 36px;
} */

.links {
  margin: 20px 0;
  font-size: 1em;
  text-align: center;
}

.wrap3 {
  display: none;
}

.myform .lab {
  display: block;
  padding: 5px 0;
}
.submit {
  width: 100px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  background-color: #ea6f5a;
  margin: 0 auto;
}
